<div class="aboutContainer">
  <mat-icon class="aboutCloseButton" (click)="closeDialog()">close</mat-icon>
  <div class="kesselBold">Welcome to Wavelength Online!</div>
  <div class="kesselNormal">
    Wavelength Online is a fan-made website and is in <strong>no way affiliated with the makers or owners of Wavelength.</strong>
    During the COVID-19 quarantine times, it is important to stay connected and this is a tool to help those stuck apart from friends and family cope.
  </div>
  <div class="kesselNormal">
    We recommend jumping on a conference call such as Google Hangouts or Zoom, firing up Wavelength Online and having some great fun!
  </div>
  <div class="kesselNormal">
    All the code can be found on Github below.
  </div>
  <div class="kesselNormal">
    <button class="wavelengthButton wavelengthButtonDark" mat-button (click)="goToGithub()">View the code on GitHub</button>
  </div>
</div>

